.card{
    margin-left: 20em;
}
.heading{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 5px;
}
.row{
    justify-content: center;
    align-items: center;
}
.btn-primary{
    font-family: 'Oswald';
    margin-top: 1em;
    margin-left: 13em;
    font-size: 20px;
}