.card{
    margin-left: 20em;
}
.heading{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 5px;
}
.row{
    justify-content: center;
    align-items: center;
}
.btn-primary{
    font-family: 'Oswald';
    margin-top: 1em;
    margin-left: 13em;
    font-size: 20px;
}

@media screen and (max-width: 1200px){ 
    .card{
        margin-left: 10em;
    }
    .btn-primary{
        margin-left: 12em;
    }
}

@media screen and (max-width: 990px){ 
    .card{
        margin-left: 4em;
    }
    .btn-primary{
        margin-left: 12em;
    }
}

@media screen and (max-width: 767px){ 
    .card{
        margin-left: 10px;
    }
    .btn-primary{
        margin-left: 10em;
    }
}

@media screen and (max-width: 450px){ 
    .card{
        margin-left: 5px;
    }

    .btn-primary{
        margin-left: 7em;
    }
}